.square {
  height: 100px;
  width: 100px;
  font-size: 35px;
  border: solid 1px rgb(22, 2, 248);
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  line-height: 100px;
  vertical-align: middle;
  transform: none;
}

.game {
  font-size: 25px;
}