.square {
  height: 100px;
  width: 100px;
  font-size: 35px;
  border: solid 1px black;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  line-height: 100px;
  vertical-align: middle;
  transform: none;
}
